<!DOCTYPE hitml>
<html lang="en">
<div class="grid-container"> 
    <link rel="stylesheet" href="style.css">
<body>
    <div>
        <header class="header">
            <div class="brand">
                <a href="index.html">Decisive Wizard</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Prodcut 2</li>
                <li>Prodcut 3</li>
                <li>Prodcut 4</li>
                <li>Prodcut 5</li>
            </ul>
        </main>
        <footer>
            &copy; 2023 Decisive Wizard
        </footer>
    </div>
</body>
</div>
</html>